<footer class="footer">

  <div class="footer-container">

    <div class="footer-socials">
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin"></i></a>
    </div>

    <div class="footer-links">
      <a href="/listings">Home</a>
      <a href="#">About</a>
      <a href="#">Privacy</a>
      <a href="#">Terms</a>
    </div>

    <p class="footer-copy">
      © 2026 RenttIt | All Rights Reserved
    </p>

  </div>

</footer>