<% layout("layouts/boilerplate") %>

<h3>All Listings</h3>

<div class="row">

<% for(let listing of allListings){ %>

<div class="col-lg-4 col-md-6 col-sm-12 mb-4">

<div class="card listing-card">

<img 
src="<%= listing.image.url %>" 
class="card-img-top listing-img">

<div class="card-body">
<p class="card-text">
<b><%= listing.title %></b> <br>
₹ <%= listing.price %> / night
</p>
</div>

<a href="/listings/<%= listing._id %>" class="stretched-link"></a>

</div>

</div>

<% } %>

</div>