<% layout("layouts/boilerplate") %>

<h3>All Listings</h3>

<ul>
    <% for(let listing of allListings) { %>
        <li>
            <a href="/listings/<%= listing._id %>">
                <%= listing.title %>
            </a>
        </li>
    <% } %>
</ul>

<br>

<a href="/listings/new">
    <button>Create New Listing</button>
</a>
<br>
<br>


