<% layout("/layouts/boilerplate") %>

<h3 class="add-heading">Create New Listing</h3>

<div class="row justify-content-center">

<div class="col-md-8 col-lg-6">

<form action="/listings" method="POST">

<div class="mb-3">
<label class="form-label">Title</label>
<input type="text" name="listing[title]" class="form-control" placeholder="Enter listing title">
</div>

<div class="mb-3">
<label class="form-label">Description</label>
<textarea name="listing[description]" class="form-control"></textarea>
</div>

<div class="mb-3">
<label class="form-label">Image URL</label>
<input type="text" name="listing[image]" class="form-control">
</div>

<div class ="row">
<div class="col-md-6 mb-3">
<label class="form-label">Price</label>
<input type="number" name="listing[price]" class="form-control">
</div>

<div class="col-md-6 mb-3">
<label class="form-label">Country</label>
<input type="text" name="listing[country]" class="form-control">
</div>
</div>

<div class="mb-3">
<label class="form-label">Location</label>
<input type="text" name="listing[location]" class="form-control">
</div>
<button class="btn btn-dark add-btn">Add Listing</button>

</form>

</div>
</div>