button{
    color: rgb(247, 245, 249);
     background-color: rgb(0, 255, 4);
}

h3{
    color: brown;
    align-content: center;
}
.navbar{
    height:5rem;
    background-color: white;
}
.fa-compass{
    color:#fe424d;
    font-size:2rem;
}
.nav-link{
    color:#222222 !important;
}






.footer{
    background-color:grey;
    color:white;
    text-align:center;
    padding:20px 0;
    margin-top:40px;
}

.footer-socials{
    margin-bottom:10px;
}

.footer-socials a{
    color:white;
    font-size:15px;
    margin:0 10px;
    transition:0.3s;
}

.footer-socials a:hover{
    color:#ff385c;
}

.footer-links{
    margin-bottom:7px;
}

.footer-links a{
    color:white;
    margin:0 10px;
    text-decoration:none;
}

.footer-links a:hover{
    text-decoration:underline;
}

.footer-copy{
    font-size:14px;
    opacity:0.8;
}

body{
    display:flex;
    flex-direction:column;
    min-height:50vh;
}

.container{
    flex:0.6;
}




/* CARD STYLING */

.listing-card{
    border: none !important;
    border-radius: 1rem !important;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

/* IMAGE STYLING */

.listing-img{
    height: 20rem;
    width: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

/* CARD BODY */

.card-body{
    padding: 0.8rem;
}

.card-text{
    font-size: 0.95rem;
}

/* HOVER EFFECT */

.listing-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.2);
}

/* IMAGE ZOOM EFFECT */

.listing-card:hover .listing-img{
    transform: scale(1.05);
}
.listing-link{
    text-decoration: none;
    color: black;
}