button{
    color: rgb(247, 245, 249);
     background-color: rgb(0, 250, 4);
}

h3{
    color: brown;
    align-content: center;
}
.navbar{
    height:5rem;
    background-color: white;
}
.fa-compass{
    color:#fe424d;
    font-size:2rem;
}
.nav-link{
    color:#222222 !important;
}






.footer{
    background-color:grey;
    color:white;
    text-align:center;
    padding:20px 0;
    margin-top:38px;
}

.footer-socials{
    margin-bottom:10px;
}

.footer-socials a{
    color:white;
    font-size:15px;
    margin:0 10px;
    transition:0.3s;
}

.footer-socials a:hover{
    color:#ff385c;
}

.footer-links{
    margin-bottom:7px;
}

.footer-links a{
    color:white;
    margin:0 10px;
    text-decoration:none;
}

.footer-links a:hover{
    text-decoration:underline;
}

.footer-copy{
    font-size:14px;
    opacity:0.8;
}

body{
    display:flex;
    flex-direction:column;
    min-height:50vh;
}

.container{
    flex:0.6;
}




/* CARD STYLING */

.listing-card{
    border: none !important;
    border-radius: 1rem !important;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

/* IMAGE STYLING */

.listing-img{
    height: 20rem;
    width: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

/* CARD BODY */

.card-body{
    padding: 0.8rem;
}

.card-text{
    font-size: 0.95rem;
}

/* HOVER EFFECT */

.listing-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.2);
}

/* IMAGE ZOOM EFFECT */

.listing-card:hover .listing-img{
    transform: scale(1.05);
}
.listing-link{
    text-decoration: none;
    color: black;
}

/* NEW LISTING FORM */

.add-heading{
    text-align:center;
    margin-bottom:2rem;
    font-weight:600;
}

/* form container */

form{
    background: #e6f4ff;
    padding:2rem;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,0.1);
}

/* Form labels */

.form-label{
    font-weight: 600;
    color: #333;
    letter-spacing: 0.5px;
}

/* input styling */

.form-control{
    border-radius:10px;
}

/* submit button */

.add-btn{
    width:100%;
    padding:10px;
    border-radius:10px;
    font-weight:500;
    transition:0.3s;
}

.add-btn:hover{
    transform:translateY(-2px);
}

/* Decorative heading */

.add-heading{
    font-family: 'pacifico', cursive;
    text-align:center;
    font-weight:700;
    font-size:2rem;
    margin-bottom:2rem;
    position:relative;
    letter-spacing:1px;
}

/* underline decoration */

.add-heading::after{
    content:"";
    width:80px;
    height:4px;
    background:#ff385c;
    display:block;
    margin:10px auto 0;
    border-radius:5px;
}


/* SHOW PAGE */

.show-title{
    text-align:center;
    font-size:2rem;
    font-weight:700;
    margin-bottom:1rem;
}

/* card */

.show-card{
    border:none;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,0.15);
}

/* image */

.show-img{
    height:400px;
    object-fit:cover;
}

/* card body */

.show-card .card-body{
    padding:1.5rem;
    font-size:1.05rem;
}

/* buttons */

.show-btns{
    display:flex;
    gap:10px;
    margin-top:20px ;
    align-items:center;
}


.edit-btn,
.delete-btn{
    transition:0.25s;
}

.edit-btn:hover,
.delete-btn:hover{
    transform:translateY(-2px);
}

.edit-btn,
.delete-btn{
    padding:6px 14px;
    font-size:0.9rem;
    border-radius:6px;
    width:auto;
}

/*for review section*/
.star-rating {
  direction: rtl;
  display: inline-flex;
}

.star-rating input {
  display: none;
}

.star-rating label {
  font-size: 2rem;
  color: #ddd;
  cursor: pointer;
}

.star-rating input:checked ~ label {
  color: #ffc107;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #ffc107;
}